.info {
    display: flex;
    justify-content: flex-start;
    padding: 100px 0 20px 0;
    background-color: transparent;
    margin-left: 0;
  }
  
  .info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1800px;
    flex-wrap: wrap;
    margin-left: 10px;
  }
  
  .info-section {
    flex: 1;
    margin: 0px;
    padding: 0px 45px 25px 0px;
    background-color: transparent;
    box-shadow: none;
    min-width: 250px;
  }
  
  .info-section h2 {
    font-size: .9rem;
    margin-bottom: 5px;
    color: #666;
    font-family: "Doto", serif;
    font-optical-sizing: auto;
    text-transform: lowercase;
  }
  
  .info-section p {
    font-size: .9rem;
    color: #333;
    font-optical-sizing: auto;
  }
  
  .info a {
    color: #333;
    text-decoration-style: dotted;
  }
  
  .info a:hover {
    color: black;
    font-weight: 600; 
    text-decoration-style: solid;
  }
  