/* Import other CSS files */
@import url('css/header.css');
@import url('css/info.css');
@import url('css/project.css');
@import url('css/footer.css');
@import url('css/projectdetail.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="1.8" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>'), pointer;
}

body {
  font-family: 'Pretendard', sans-serif;
  font-weight: 500;
  font-size: .93rem;
  line-height: 1.28;
  background-color: #f4f4f4;
  color: #333;
  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;  /* Firefox */
}

.container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 0;
}